body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Coins arrondis pour le conteneur */
  max-width: 400px;
}

/* Ajout de styles pour le titre */
h1 {
  color: #2196F3; /* Bleu Material design */
  font-size: 100px; /* Taille de la police encore plus grande */
  margin-bottom: 30px; /* Marge en bas du titre */
  text-align: center; /* Centre le texte */
  font-weight: bold; /* Texte en gras */
  text-transform: uppercase; /* Met le texte en majuscules */
  letter-spacing: 4px; /* Espacement entre les lettres */
  text-shadow: 2px 2px 4px rgba(33, 150, 243, 0.7); /* Ombre du texte */
  font-family: 'Roboto Condensed', sans-serif; /* Utilisation d'une police de caractères différente (plus condensée) */
}

/* Marges et espacement */
label {
  display: block;
  margin-top: 10px;
}

input,
select,
button,
label {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px; /* Coins arrondis pour les champs de saisie, boutons et labels */
}

/* Boutons stylisés */
button {
  background-color: #0D47A1; /* Bleu très foncé */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

button:hover {
  background-color: #002171; /* Bleu plus foncé au survol */
}

/* Résultat stylisé */
#result {
  margin-top: 20px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px; /* Coins arrondis pour le résultat */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Bouton stylisé pour effectuer la transaction */
#payButton {
  background-color: #2196F3; /* Bleu très foncé */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

#payButton:hover {
  background-color: #002171; /* Bleu plus foncé au survol */
}


/* Nouveaux styles pour les images */
.image-gauche,
.image-droite {
  max-width: 400px; /* Ajustez la largeur selon vos besoins */
  height: auto;
  position: absolute;
  top: 50%; /* Positionne l'image au centre verticalement */
  transform: translateY(-50%);
}

.image-gauche {
  left: 2cm;
}

.image-droite {
  right: 2cm;
}


#pdfButton {
  background-color: #add8e6; /* Bleu pâle */
  color: #000; /* Couleur du texte */
  font-size: 12px; /* Taille de la police */
  padding: 5px 10px; /* Espacement intérieur du bouton */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer;
  position: fixed;
  bottom: 10px; /* Distance depuis le bas */
  right: 10px; /* Distance depuis la droite */
  display: inline-block;
  width: 200px; /* Largeur fixe du bouton */
}

/* Style pour le conteneur des boutons */
.button-container {
  position: fixed;
  bottom: 10px; /* Distance depuis le bas */
  left: 10px; /* Distance depuis la gauche */
}

/* Style pour le bouton de redirection vers Etherscan */
#redirectButton {
  background-color: #add8e6; /* Bleu pâle */
  color: #000; /* Couleur du texte */
  font-size: 12px; /* Taille de la police */
  padding: 5px 10px; /* Espacement intérieur du bouton */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer;
  margin-right: 0.5cm; /* Distance entre les boutons */
  display: inline-block;
  width: 100px; /* Largeur fixe du bouton */
}

/* Style pour le bouton de redirection vers OpenSea */
#openSeaButton {
  background-color: #add8e6; /* Bleu pâle */
  color: #000; /* Couleur du texte */
  font-size: 12px; /* Taille de la police */
  padding: 5px 10px; /* Espacement intérieur du bouton */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer;
  display: inline-block;
  width: 100px; /* Largeur fixe du bouton */
}
